In [1]:
a = [1,2,3]
type(a)

list

In [3]:
a = list([2,3,4])
a

[2, 3, 4]

In [4]:
a = list()
a

[]

In [5]:
a = [1,2,3,4]

In [6]:
a[3]

4

In [7]:
a[3] = 40

In [8]:
a

[1, 2, 3, 40]

In [9]:
a = [1,2,'abc',3.4]

In [10]:
a = ["abc", True]

In [11]:
a

['abc', True]

In [12]:
a[0] = 12

In [13]:
a = [[1,2,3],4,5,"abc"]

In [14]:
b = [0 for i in range(10)]
b

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
b = [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
b = [i * i for i in range(10)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Inbuilt Functions in Lists

In [26]:
a = [1,2,3,4,5]

In [27]:
# length of a list
len(a)

5

In [28]:
b = [6,7,3]

In [29]:
a + 3

TypeError: can only concatenate list (not "int") to list

In [21]:
# concatenation of a list
a + b

[1, 2, 3, 4, 6, 7, 3]

In [22]:
a * b

TypeError: can't multiply sequence by non-int of type 'list'

In [30]:
# copies a 3 times
a * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [31]:
a

[1, 2, 3, 4, 5]

#### append(ele) : 
add data to the end of the existing list

In [32]:
# add data at the end of the list
a.append(6)
a

[1, 2, 3, 4, 5, 6]

#### insert(index, ele):
add data to a specific index

In [33]:
# add data to a specific index
a.insert(0, 3)
a

[3, 1, 2, 3, 4, 5, 6]

#### extend(list):
add a list of elements to the end of the existing list

In [35]:
# add a list at the end of a existing lisy
a.extend(b)
a

[3, 1, 2, 3, 4, 5, 6, 6, 7, 3, 6, 7, 3]

#### remove(ele):
delete the first occurrence of the element in a list

In [36]:
# delete the first occurrence of a data or a particular element
a.remove(5)
a

[3, 1, 2, 3, 4, 6, 6, 7, 3, 6, 7, 3]

In [39]:
# delete the first occurrence
a.remove(6)
a

[3, 1, 2, 3, 4, 7, 3, 7, 3]

#### pop(index):
delete the particular element at the index and then returns the list

In [40]:
# delete a particular index
a.pop(0)

3

In [41]:
a

[1, 2, 3, 4, 7, 3, 7, 3]

#### del:
Python function to delete the element

In [42]:
del a[4]

In [43]:
a

[1, 2, 3, 4, 3, 7, 3]

#### sort():
sorts the data in a list in ascending order by default

In [44]:
# sorts the data
a.sort()

In [45]:
a

[1, 2, 3, 3, 3, 4, 7]

In [46]:
b

[6, 7, 3]

#### max(list):
Python function to find the maximum element in a list. But the list should be in a homogenous state

In [47]:
# maximum element in b
max(b)

7

In [48]:
b = [1,2,0,"abc"]
max(b)

TypeError: '>' not supported between instances of 'str' and 'int'

#### index(ele):
Finds the index of the particular element in a list

In [49]:
# to find the index of a particular element
b.index(0)

2

In [50]:
b.index[100]

TypeError: 'builtin_function_or_method' object is not subscriptable

#### in:
Python boolean function to check whether the element is present in the list or not

In [52]:
100 in b

False

### Taking Inputs in Lists

In [53]:
a = [2,3,7,5,1,4]

In [54]:
for i in a:
    print(i)

2
3
7
5
1
4

In [1]:
s = int(input())
a = []
for i in range(s):
    a.append(int(input()))
a

5
1
2
3
4
5

[1, 2, 3, 4, 5]

In [5]:
line = input()
l = line.split() # converts the strings in a list
a = []
for s in l:
    a.append(int(s))
a

1 2 3 4 5

[1, 2, 3, 4, 5]

In [7]:
l = input().split()
a = [int(s) for s in l]
a

1 2

[1, 2]

In [8]:
a = [int(s) for s in input().split()]

1 2 3 4 5

In [9]:
a

[1, 2, 3, 4, 5]

In [11]:
size = int(input())
a = [int(s) for s in input().split()]

5
1 2 3 4 5

#### List Slicing

In [4]:
a = [1,2,3,4,5,"abc",34,0]
a

[1, 2, 3, 4, 5, 'abc', 34, 0]

In [5]:
a[0:3]

[1, 2, 3]

In [6]:
a[4:6]

[5, 'abc']

In [4]:
a[3:]

[4, 5, 'abc', 34, 0]

In [5]:
a[:4]

[1, 2, 3, 4]

In [6]:
a[10:3:-1]

[0, 34, 'abc', 5]

In [7]:
a[:3:-1]

[0, 34, 'abc', 5]

In [8]:
a[::-1]

[0, 34, 'abc', 5, 4, 3, 2, 1]

In [9]:
a.reverse()
a

[0, 34, 'abc', 5, 4, 3, 2, 1]

## 2D List

In [11]:
a = [[1,2,3],[4,5]]
a

[[1, 2, 3], [4, 5]]

In [12]:
a[1]

[4, 5]

In [13]:
a[0]

[1, 2, 3]

In [14]:
a[0][2]

3

In [15]:
a = [[1,2,3],[4,5,6]]

In [16]:
len(a)

2

In [17]:
len(a[0])

3

In [18]:
len(a[1])

3

### 2D List Input

In [20]:
sizes = input().split()
m = int(sizes[0]) # rows
n = int(sizes[1]) # columns
l = []
for i in range(m):
    next_row = [int(i) for i in input().split()]
    l.append(next_row)
l

3 4
1 2 3 4
5 6 7 8
9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [1]:
sizes = input().split()
m = int(sizes[0])
n = int(sizes[1])
l = []
for i in range(m):
    next_row = []
    for j in range(n):
        element = int(input())
        next_row.append(element)
    l.append(next_row)
l

3 4
1
2
3
4
5
6
7
8
9
10
11
12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [3]:
sizes = input().split()
m = int(sizes[0])
n = int(sizes[1])
l_1d = [int(i) for i in input().split()]
l = []
for i in range(m):
    start_index = n * i
    end_index = n * (i + 1)
    next_row = l_1d[start_index:end_index]
    l.append(next_row)
l

3 4
1 2 3 4 5 6 7 8 9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [4]:
a = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
a

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [5]:
a[1:3]

[[5, 6, 7, 8], [9, 10, 11, 12]]

In [8]:
a = [[1,2] for i in range(10)]
a

[[1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2]]

In [9]:
a = [[0 for j in range(5)]for i in range(10)]
a

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [10]:
a = [[j for j in range(5)]for i in range(10)]
a

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [1]:
a = [[i for j in range(5)]for i in range(10)]
a

[[0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3],
 [4, 4, 4, 4, 4],
 [5, 5, 5, 5, 5],
 [6, 6, 6, 6, 6],
 [7, 7, 7, 7, 7],
 [8, 8, 8, 8, 8],
 [9, 9, 9, 9, 9]]

In [12]:
def print_column_wise_sum(a):
    m = len(a)
    if m == 0:
        return
    n = len(a[0])
    for j in range(n):
        sum_j = 0
        for i in range(m):
            sum_j = sum_j + a[i][j]
        print(sum_j)

In [13]:
a = [[j for j in range(5)]for i in range(10)]
print_column_wise_sum(a)

0
10
20
30
40