## Terror Deadliest Attack

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period.

#### Problem Statement:
Most Deadliest attack in a history of HumanKind?<br>
<br>
Print count of killed people as integer value.<br>
<br>
__Note:__ Here Deadliest attack means, in which the most number of people killed

#### Output Format:
NumberOfPeopleKilled Country TerroristGroup

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('terrorismData.csv')

In [3]:
#making the copy of the dataset
df = dataset.copy()
df

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives

In [7]:
# the row which has the maximum Killed value
df_killed = df[df.Killed == df.Killed.max()]
df_killed

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
133518,2014,6,12,Iraq,Saladin,Middle East & North Africa,Tikrit,34.621521,43.668377,Hostage Taking (Kidnapping),1570.0,NaN,Soldiers,06/12/2014: Assailants abducted approximately ...,Islamic State of Iraq and the Levant (ISIL),Military,Firearms

In [11]:
people_killed = df_killed.loc[133518,'Killed']
people_killed = int(people_killed)
people_killed

1570

In [12]:
country = df_killed.loc[133518,'Country']
country

'Iraq'

In [13]:
group = df_killed.loc[133518, 'Group']
group

'Islamic State of Iraq and the Levant (ISIL)'

In [15]:
print('NumberOfPeopleKilled \t Country \t TerroristGroup')
print(people_killed,'\t\t\t', country, '\t', group)

NumberOfPeopleKilled 	 Country 	 TerroristGroup
1570 			 Iraq 	 Islamic State of Iraq and the Levant (ISIL)

In [16]:
data = {'Number of People Killed':people_killed, 'Country':country, 'Terrorist Group':group}
answer = pd.DataFrame(data, index=[0])
answer

,Number of People Killed,Country,Terrorist Group
0,1570,Iraq,Islamic State of Iraq and the Levant (ISIL)