## Count of Flower

#### Problem Statement
Find and print count of each kind of flower(separated by space)?<br>
<br>
Print the count as integer value

#### Output Format
count1 count2 count3......

In [1]:
# importing libraries
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

* __Series.value_counts(_normalize=False, sort=True, ascending=False, bins=None, dropna=True_)__: _Return a Series containing counts of unique values._

In [12]:
freq = df['variety'].value_counts()
freq

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64